<!DOCTYPE html>
<html>
  <head>
    <title>Welcome.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
    	.container {
    		padding: 50px;
    	}
    </style>
  </head>
  <body>
  	<div class="container">
    	<h1>What would you like to do?</h1>
    	<ul>
    		<li><a href="/all">View Contacts</a></li>
			<li><a href="/add">Add Contact</a></li>
		</ul>
    <div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
